In [9]:
# Initial imports
import pandas as pd
import re
from sqlalchemy import create_engine

# Note: psycopg2 needs to be installed in the environment as well.

In [10]:
# Importing data and checking - Cleaned data
file_path = "Resources/movies_oscars.csv"
movies_clean_df = pd.read_csv(file_path,index_col=0)
movies_clean_df.head()

,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,winner,genres
budget,,,,,,,,,,,
30000000,Toy Story,21.946943,10/30/1995,373554033.0,81.0,Released,Toy Story,7.7,5415.0,FALSE,Animation
65000000,Jumanji,17.015539,12/15/1995,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,Adventure
0,Grumpier Old Men,11.7129,12/22/1995,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,NaN,Romance
16000000,Waiting to Exhale,3.859495,12/22/1995,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,Comedy
0,Father of the Bride Part II,8.387519,2/10/1995,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,NaN,Comedy

In [11]:
# Importing data and checking - Original Movies data
file_path2 = "Resources/movies_metadata.csv"
raw_movies_df = pd.read_csv(file_path2,index_col=0)
raw_movies_df.head()

C:\Users\16074\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
adult,,,,,,,,,,,,,,,,,,,,,
False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [12]:
# Importing data and checking - Oscars data
file_path3 = "Resources/the_oscar_award.csv"
raw_oscars_df = pd.read_csv(file_path3,index_col=0)
raw_oscars_df.head()

,year_ceremony,ceremony,category,name,film,winner
year_film,,,,,,
1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

In [18]:
# Listing Unique values of Oscar category
raw_oscars_df['category'].unique()

array(['ACTOR', 'ACTRESS', 'ART DIRECTION', 'CINEMATOGRAPHY',
       'DIRECTING (Comedy Picture)', 'DIRECTING (Dramatic Picture)',
       'ENGINEERING EFFECTS', 'OUTSTANDING PICTURE',
       'UNIQUE AND ARTISTIC PICTURE', 'WRITING (Adaptation)',
       'WRITING (Original Story)', 'WRITING (Title Writing)',
       'SPECIAL AWARD', 'DIRECTING', 'WRITING', 'OUTSTANDING PRODUCTION',
       'SOUND RECORDING', 'SHORT SUBJECT (Cartoon)',
       'SHORT SUBJECT (Comedy)', 'SHORT SUBJECT (Novelty)',
       'ASSISTANT DIRECTOR', 'FILM EDITING', 'MUSIC (Scoring)',
       'MUSIC (Song)', 'DANCE DIRECTION', 'WRITING (Screenplay)',
       'ACTOR IN A SUPPORTING ROLE', 'ACTRESS IN A SUPPORTING ROLE',
       'SHORT SUBJECT (Color)', 'SHORT SUBJECT (One-reel)',
       'SHORT SUBJECT (Two-reel)', 'IRVING G. THALBERG MEMORIAL AWARD',
       'MUSIC (Original Score)', 'CINEMATOGRAPHY (Black-and-White)',
       'CINEMATOGRAPHY (Color)', 'SPECIAL EFFECTS',
       'ART DIRECTION (Black-and-White)', 'ART DIRECTION (Color)',
       'WRITING (Original Screenplay)', 'DOCUMENTARY (Short Subject)',
       'MUSIC (Music Score of a Dramatic Picture)',
       'MUSIC (Scoring of a Musical Picture)',
       'OUTSTANDING MOTION PICTURE', 'DOCUMENTARY',
       'MUSIC (Music Score of a Dramatic or Comedy Picture)',
       'WRITING (Original Motion Picture Story)', 'DOCUMENTARY (Feature)',
       'BEST MOTION PICTURE', 'WRITING (Motion Picture Story)',
       'COSTUME DESIGN (Black-and-White)', 'COSTUME DESIGN (Color)',
       'SPECIAL FOREIGN LANGUAGE FILM AWARD',
       'WRITING (Story and Screenplay)',
       'HONORARY FOREIGN LANGUAGE FILM AWARD', 'HONORARY AWARD',
       'FOREIGN LANGUAGE FILM', 'WRITING (Screenplay--Adapted)',
       'WRITING (Screenplay--Original)',
       'JEAN HERSHOLT HUMANITARIAN AWARD', 'COSTUME DESIGN',
       'SHORT SUBJECT (Live Action)',
       'WRITING (Screenplay--based on material from another medium)',
       'WRITING (Story and Screenplay--written directly for the screen)',
       'SOUND', 'MUSIC (Music Score--substantially original)',
       'MUSIC (Scoring of Music--adaptation or treatment)',
       'BEST PICTURE', 'SOUND EFFECTS', 'SPECIAL VISUAL EFFECTS',
       'MUSIC (Original Music Score)',
       'MUSIC (Original Score--for a motion picture [not a musical])',
       'MUSIC (Score of a Musical Picture--original or adaptation)',
       'MUSIC (Song--Original for the Picture)',
       'WRITING (Story and Screenplay--based on material not previously published or produced)',
       'MUSIC (Original Song Score)',
       'WRITING (Story and Screenplay--based on factual material or material not previously published or produced)',
       'MUSIC (Original Dramatic Score)',
       'MUSIC (Scoring: Adaptation and Original Song Score)',
       'SHORT SUBJECT (Animated)',
       'SPECIAL ACHIEVEMENT AWARD (Visual Effects)',
       'MUSIC (Scoring: Original Song Score and Adaptation -or- Scoring: Adaptation)',
       'SHORT FILM (Animated)', 'SHORT FILM (Live Action)',
       'WRITING (Screenplay Adapted from Other Material)',
       'MUSIC (Original Song)',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects)',
       'ACTOR IN A LEADING ROLE', 'ACTRESS IN A LEADING ROLE',
       'MUSIC (Original Song Score and Its Adaptation or Adaptation Score)',
       'WRITING (Screenplay Written Directly for the Screen--based on factual material or on story material not previously published or produced)',
       'VISUAL EFFECTS', 'SPECIAL ACHIEVEMENT AWARD',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects Editing)',
       'MUSIC (Adaptation Score)',
       'WRITING (Screenplay Based on Material from Another Medium)',
       'WRITING (Screenplay Written Directly for the Screen)',
       'MUSIC (Original Song Score and Its Adaptation -or- Adaptation Score)',
       'SPECIAL ACHIEVEMENT AWARD (Sound Editing)',
       'SHORT FILM (Dramatic Live Action)', 'MAKEUP',
       'SOUND EFFECTS EDITING',
       'MUSIC (Original Song Score or Adaptation Score)',
       'WRITING (Screenplay Based on Material Previously Produced or Published)',
       'MUSIC (Original Musical or Comedy Score)', 'SOUND EDITING',
       'ANIMATED FEATURE FILM', 'WRITING (Adapted Screenplay)',
       'SOUND MIXING', 'MAKEUP AND HAIRSTYLING', 'PRODUCTION DESIGN',
       'INTERNATIONAL FEATURE FILM'], dtype=object)

In [20]:
# Regex of Oscar's 'category' column to condense the number of unique values

raw_oscars_df['category'] = raw_oscars_df['category'].str.extract(r"(^[^\(]+)")

In [21]:
# Checking if parthesis were removed to condense values
raw_oscars_df['category'].unique()

array(['ACTOR', 'ACTRESS', 'ART DIRECTION', 'CINEMATOGRAPHY',
       'DIRECTING ', 'ENGINEERING EFFECTS', 'OUTSTANDING PICTURE',
       'UNIQUE AND ARTISTIC PICTURE', 'WRITING ', 'SPECIAL AWARD',
       'DIRECTING', 'WRITING', 'OUTSTANDING PRODUCTION',
       'SOUND RECORDING', 'SHORT SUBJECT ', 'ASSISTANT DIRECTOR',
       'FILM EDITING', 'MUSIC ', 'DANCE DIRECTION',
       'ACTOR IN A SUPPORTING ROLE', 'ACTRESS IN A SUPPORTING ROLE',
       'IRVING G. THALBERG MEMORIAL AWARD', 'CINEMATOGRAPHY ',
       'SPECIAL EFFECTS', 'ART DIRECTION ', 'DOCUMENTARY ',
       'OUTSTANDING MOTION PICTURE', 'DOCUMENTARY', 'BEST MOTION PICTURE',
       'COSTUME DESIGN ', 'SPECIAL FOREIGN LANGUAGE FILM AWARD',
       'HONORARY FOREIGN LANGUAGE FILM AWARD', 'HONORARY AWARD',
       'FOREIGN LANGUAGE FILM', 'JEAN HERSHOLT HUMANITARIAN AWARD',
       'COSTUME DESIGN', 'SOUND', 'BEST PICTURE', 'SOUND EFFECTS',
       'SPECIAL VISUAL EFFECTS', 'SPECIAL ACHIEVEMENT AWARD ',
       'SHORT FILM ', 'ACTOR IN A LEADING ROLE',
       'ACTRESS IN A LEADING ROLE', 'VISUAL EFFECTS',
       'SPECIAL ACHIEVEMENT AWARD', 'MAKEUP', 'SOUND EFFECTS EDITING',
       'SOUND EDITING', 'ANIMATED FEATURE FILM', 'SOUND MIXING',
       'MAKEUP AND HAIRSTYLING', 'PRODUCTION DESIGN',
       'INTERNATIONAL FEATURE FILM'], dtype=object)

In [5]:
# Adding production_companies to cleaned CSV

movies_clean_df['production_companies'] = raw_movies_df['production_companies'].values
movies_clean_df.head()

,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,winner,genres,production_companies
budget,,,,,,,,,,,,
30000000,Toy Story,21.946943,10/30/1995,373554033.0,81.0,Released,Toy Story,7.7,5415.0,FALSE,Animation,"[{'name': 'Pixar Animation Studios', 'id': 3}]"
65000000,Jumanji,17.015539,12/15/1995,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,Adventure,"[{'name': 'TriStar Pictures', 'id': 559}, {'na..."
0,Grumpier Old Men,11.7129,12/22/1995,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,NaN,Romance,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'..."
16000000,Waiting to Exhale,3.859495,12/22/1995,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,Comedy,[{'name': 'Twentieth Century Fox Film Corporat...
0,Father of the Bride Part II,8.387519,2/10/1995,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,NaN,Comedy,"[{'name': 'Sandollar Productions', 'id': 5842}..."

In [6]:
#Regex Parsing of production_companies

movies_clean_df["production_companies"] = movies_clean_df["production_companies"].str.extract(r"(?!'name') (?!'id')'(.*?)'")
movies_clean_df.head()

,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,winner,genres,production_companies
budget,,,,,,,,,,,,
30000000,Toy Story,21.946943,10/30/1995,373554033.0,81.0,Released,Toy Story,7.7,5415.0,FALSE,Animation,Pixar Animation Studios
65000000,Jumanji,17.015539,12/15/1995,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,Adventure,TriStar Pictures
0,Grumpier Old Men,11.7129,12/22/1995,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,NaN,Romance,Warner Bros.
16000000,Waiting to Exhale,3.859495,12/22/1995,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,Comedy,Twentieth Century Fox Film Corporation
0,Father of the Bride Part II,8.387519,2/10/1995,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,NaN,Comedy,Sandollar Productions

In [7]:
#Regex Parsing of genres

movies_clean_df["genres"] = movies_clean_df["genres"].str.extract(r"^([\w\-]+)")
movies_clean_df.head()

,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,winner,genres,production_companies
budget,,,,,,,,,,,,
30000000,Toy Story,21.946943,10/30/1995,373554033.0,81.0,Released,Toy Story,7.7,5415.0,FALSE,Animation,Pixar Animation Studios
65000000,Jumanji,17.015539,12/15/1995,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,Adventure,TriStar Pictures
0,Grumpier Old Men,11.7129,12/22/1995,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,NaN,Romance,Warner Bros.
16000000,Waiting to Exhale,3.859495,12/22/1995,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,Comedy,Twentieth Century Fox Film Corporation
0,Father of the Bride Part II,8.387519,2/10/1995,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,NaN,Comedy,Sandollar Productions

In [8]:
# Connecting the database

# Allows user input for the Postgres pass, so it doesn't need to be stored in another file
dbpass = input("Type password: ")

KeyboardInterrupt: Interrupted by user

In [ ]:
db_string = f"postgresql://postgres:{dbpass}@127.0.0.1:5432/Group6"
engine = create_engine(db_string)

movies_clean_df.to_sql(name='Movies', con=engine)
raw_oscars_df.to_sql(name='Oscars', con=engine)