### Imports of code and datasets

In [1]:
# Initial imports
import pandas as pd
import re
import numpy as np
import datetime
from sqlalchemy import create_engine

# Note: psycopg2 needs to be installed in the environment as well.

In [2]:
# Importing data and checking - Cleaned data
file_path = "Resources/movies_oscars.csv"
movies_clean_df = pd.read_csv(file_path)
movies_clean_df.head()

,budget,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,winner,genres
0,30000000,Toy Story,21.946943,10/30/1995,373554033.0,81.0,Released,Toy Story,7.7,5415.0,FALSE,Animation
1,65000000,Jumanji,17.015539,12/15/1995,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,Adventure
2,0,Grumpier Old Men,11.7129,12/22/1995,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,NaN,Romance
3,16000000,Waiting to Exhale,3.859495,12/22/1995,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,Comedy
4,0,Father of the Bride Part II,8.387519,2/10/1995,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,NaN,Comedy

In [3]:
# Importing data and checking - Original Movies data
file_path2 = "Resources/movies_metadata.csv"
raw_movies_df = pd.read_csv(file_path2)
raw_movies_df.head()

C:\Users\16074\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
# Importing data and checking - Oscars data
file_path3 = "Resources/the_oscar_award.csv"
raw_oscars_df = pd.read_csv(file_path3)
raw_oscars_df.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

### Regex processing

In [5]:
# Listing Unique values of Oscar category
# raw_oscars_df['category'].unique()

In [6]:
# Regex of Oscar's 'category' column to condense the number of unique values
raw_oscars_df['category'] = raw_oscars_df['category'].str.extract(r"(^[^\(]+)")

# Checking if parthesis were removed to condense values
raw_oscars_df['category'].unique()

array(['ACTOR', 'ACTRESS', 'ART DIRECTION', 'CINEMATOGRAPHY',
       'DIRECTING ', 'ENGINEERING EFFECTS', 'OUTSTANDING PICTURE',
       'UNIQUE AND ARTISTIC PICTURE', 'WRITING ', 'SPECIAL AWARD',
       'DIRECTING', 'WRITING', 'OUTSTANDING PRODUCTION',
       'SOUND RECORDING', 'SHORT SUBJECT ', 'ASSISTANT DIRECTOR',
       'FILM EDITING', 'MUSIC ', 'DANCE DIRECTION',
       'ACTOR IN A SUPPORTING ROLE', 'ACTRESS IN A SUPPORTING ROLE',
       'IRVING G. THALBERG MEMORIAL AWARD', 'CINEMATOGRAPHY ',
       'SPECIAL EFFECTS', 'ART DIRECTION ', 'DOCUMENTARY ',
       'OUTSTANDING MOTION PICTURE', 'DOCUMENTARY', 'BEST MOTION PICTURE',
       'COSTUME DESIGN ', 'SPECIAL FOREIGN LANGUAGE FILM AWARD',
       'HONORARY FOREIGN LANGUAGE FILM AWARD', 'HONORARY AWARD',
       'FOREIGN LANGUAGE FILM', 'JEAN HERSHOLT HUMANITARIAN AWARD',
       'COSTUME DESIGN', 'SOUND', 'BEST PICTURE', 'SOUND EFFECTS',
       'SPECIAL VISUAL EFFECTS', 'SPECIAL ACHIEVEMENT AWARD ',
       'SHORT FILM ', 'ACTOR IN A LEADING ROLE',
       'ACTRESS IN A LEADING ROLE', 'VISUAL EFFECTS',
       'SPECIAL ACHIEVEMENT AWARD', 'MAKEUP', 'SOUND EFFECTS EDITING',
       'SOUND EDITING', 'ANIMATED FEATURE FILM', 'SOUND MIXING',
       'MAKEUP AND HAIRSTYLING', 'PRODUCTION DESIGN',
       'INTERNATIONAL FEATURE FILM'], dtype=object)

In [7]:
# Adding production_companies to cleaned CSV
movies_clean_df['production_companies'] = raw_movies_df['production_companies'].values
movies_clean_df.head()

,budget,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,winner,genres,production_companies
0,30000000,Toy Story,21.946943,10/30/1995,373554033.0,81.0,Released,Toy Story,7.7,5415.0,FALSE,Animation,"[{'name': 'Pixar Animation Studios', 'id': 3}]"
1,65000000,Jumanji,17.015539,12/15/1995,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,Adventure,"[{'name': 'TriStar Pictures', 'id': 559}, {'na..."
2,0,Grumpier Old Men,11.7129,12/22/1995,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,NaN,Romance,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'..."
3,16000000,Waiting to Exhale,3.859495,12/22/1995,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,Comedy,[{'name': 'Twentieth Century Fox Film Corporat...
4,0,Father of the Bride Part II,8.387519,2/10/1995,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,NaN,Comedy,"[{'name': 'Sandollar Productions', 'id': 5842}..."

In [8]:
#Regex Parsing of production_companies
movies_clean_df["production_companies"] = movies_clean_df["production_companies"].str.extract(r"(?!'name') (?!'id')'(.*?)'")
movies_clean_df.head()

,budget,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,winner,genres,production_companies
0,30000000,Toy Story,21.946943,10/30/1995,373554033.0,81.0,Released,Toy Story,7.7,5415.0,FALSE,Animation,Pixar Animation Studios
1,65000000,Jumanji,17.015539,12/15/1995,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,Adventure,TriStar Pictures
2,0,Grumpier Old Men,11.7129,12/22/1995,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,NaN,Romance,Warner Bros.
3,16000000,Waiting to Exhale,3.859495,12/22/1995,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,Comedy,Twentieth Century Fox Film Corporation
4,0,Father of the Bride Part II,8.387519,2/10/1995,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,NaN,Comedy,Sandollar Productions

In [9]:
#Regex Parsing of genres
movies_clean_df["genres"] = movies_clean_df["genres"].str.extract(r"^([\w\-]+)")
movies_clean_df.head()

,budget,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,winner,genres,production_companies
0,30000000,Toy Story,21.946943,10/30/1995,373554033.0,81.0,Released,Toy Story,7.7,5415.0,FALSE,Animation,Pixar Animation Studios
1,65000000,Jumanji,17.015539,12/15/1995,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,Adventure,TriStar Pictures
2,0,Grumpier Old Men,11.7129,12/22/1995,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,NaN,Romance,Warner Bros.
3,16000000,Waiting to Exhale,3.859495,12/22/1995,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,Comedy,Twentieth Century Fox Film Corporation
4,0,Father of the Bride Part II,8.387519,2/10/1995,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,NaN,Comedy,Sandollar Productions

### Correcting datatype of release_date

In [10]:
### Checking datatypes and turning release date into datetime format
#movies_clean_df.dtypes
movies_clean_df['release_date'] = pd.to_datetime(movies_clean_df['release_date'], errors='coerce')
movies_clean_df.head()

,budget,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,winner,genres,production_companies
0,30000000,Toy Story,21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,FALSE,Animation,Pixar Animation Studios
1,65000000,Jumanji,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,Adventure,TriStar Pictures
2,0,Grumpier Old Men,11.7129,1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,NaN,Romance,Warner Bros.
3,16000000,Waiting to Exhale,3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,Comedy,Twentieth Century Fox Film Corporation
4,0,Father of the Bride Part II,8.387519,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,NaN,Comedy,Sandollar Productions

In [11]:
# Making a new column of release_year to highlight specifically the date
movies_clean_df['release_year'] = movies_clean_df['release_date'].dt.year
movies_clean_df.head()

,budget,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,winner,genres,production_companies,release_year
0,30000000,Toy Story,21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,FALSE,Animation,Pixar Animation Studios,1995.0
1,65000000,Jumanji,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,Adventure,TriStar Pictures,1995.0
2,0,Grumpier Old Men,11.7129,1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,NaN,Romance,Warner Bros.,1995.0
3,16000000,Waiting to Exhale,3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,Comedy,Twentieth Century Fox Film Corporation,1995.0
4,0,Father of the Bride Part II,8.387519,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,NaN,Comedy,Sandollar Productions,1995.0

In [12]:
# Dropping null values in release_date to clean column
movies_clean_df = movies_clean_df[movies_clean_df['release_date'].notna()]
movies_clean_df.isnull().sum()

budget                      0
original_title              0
popularity                  0
release_date                0
revenue                     0
runtime                   246
status                     80
title                       0
vote_average                0
vote_count                  0
winner                  41883
genres                   2384
production_companies    11854
release_year                0
dtype: int64

### Further cleaning up missing data

In [13]:
# Turning budget and revenue's 0 values into NaNs

movies_clean_df['budget'] = movies_clean_df['budget'].replace({'0':np.nan, 0:np.nan})
movies_clean_df['revenue'] = movies_clean_df['revenue'].replace({'0':np.nan, 0:np.nan})
movies_clean_df.head()

,budget,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,winner,genres,production_companies,release_year
0,30000000.0,Toy Story,21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,FALSE,Animation,Pixar Animation Studios,1995.0
1,65000000.0,Jumanji,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,Adventure,TriStar Pictures,1995.0
2,NaN,Grumpier Old Men,11.7129,1995-12-22,NaN,101.0,Released,Grumpier Old Men,6.5,92.0,NaN,Romance,Warner Bros.,1995.0
3,16000000.0,Waiting to Exhale,3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,Comedy,Twentieth Century Fox Film Corporation,1995.0
4,NaN,Father of the Bride Part II,8.387519,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,NaN,Comedy,Sandollar Productions,1995.0

In [14]:
# Dropping columns with NaNs from movies_clean_df, specifically on columns that are going to be used for analysis and
# could skew data

movies_clean_df = movies_clean_df[movies_clean_df['budget'].notna()]
movies_clean_df = movies_clean_df[movies_clean_df['revenue'].notna()]
movies_clean_df = movies_clean_df[movies_clean_df['runtime'].notna()]
movies_clean_df = movies_clean_df[movies_clean_df['genres'].notna()]
movies_clean_df.isnull().sum()

budget                     0
original_title             0
popularity                 0
release_date               0
revenue                    0
runtime                    0
status                     0
title                      0
vote_average               0
vote_count                 0
winner                  4195
genres                     0
production_companies     171
release_year               0
dtype: int64

In [15]:
# Checking for nulls in oscars dataset
raw_oscars_df.isnull().sum()

year_film          0
year_ceremony      0
ceremony           0
category           0
name               0
film             304
winner             0
dtype: int64

In [16]:
movies_clean_df.head(10)

,budget,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,winner,genres,production_companies,release_year
0,30000000.0,Toy Story,21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,FALSE,Animation,Pixar Animation Studios,1995.0
1,65000000.0,Jumanji,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,Adventure,TriStar Pictures,1995.0
3,16000000.0,Waiting to Exhale,3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,Comedy,Twentieth Century Fox Film Corporation,1995.0
5,60000000.0,Heat,17.924927,1995-12-15,187436818.0,170.0,Released,Heat,7.7,1886.0,NaN,Action,Regency Enterprises,1995.0
8,35000000.0,Sudden Death,5.23158,1995-12-22,64350171.0,106.0,Released,Sudden Death,5.5,174.0,NaN,Action,Universal Pictures,1995.0
9,58000000.0,GoldenEye,14.686036,1995-11-16,352194034.0,130.0,Released,GoldenEye,6.6,1194.0,NaN,Adventure,United Artists,1995.0
10,62000000.0,The American President,6.318445,1995-11-17,107879496.0,106.0,Released,The American President,6.5,199.0,FALSE,Comedy,Columbia Pictures,1995.0
13,44000000.0,Nixon,5.092,1995-12-22,13681765.0,192.0,Released,Nixon,7.1,72.0,FALSE,History,Hollywood Pictures,1995.0
14,98000000.0,Cutthroat Island,7.284477,1995-12-22,10017322.0,119.0,Released,Cutthroat Island,5.7,137.0,NaN,Action,Le Studio Canal+,1995.0
15,52000000.0,Casino,10.137389,1995-11-22,116112375.0,178.0,Released,Casino,7.8,1343.0,FALSE,Drama,Universal Pictures,1995.0

In [17]:
# Making a column of nominated 
# For reference: Nominated = 1 ; Not nominated = 0

nominated = []
for row in movies_clean_df['winner']:
    if row == 'FALSE' :    nominated.append('1')
    elif row == 'TRUE':   nominated.append('1')
    else:           nominated.append('0')
            
movies_clean_df['nominated'] = nominated
movies_clean_df.head(10)

,budget,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,winner,genres,production_companies,release_year,nominated
0,30000000.0,Toy Story,21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,FALSE,Animation,Pixar Animation Studios,1995.0,1
1,65000000.0,Jumanji,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,Adventure,TriStar Pictures,1995.0,0
3,16000000.0,Waiting to Exhale,3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,Comedy,Twentieth Century Fox Film Corporation,1995.0,0
5,60000000.0,Heat,17.924927,1995-12-15,187436818.0,170.0,Released,Heat,7.7,1886.0,NaN,Action,Regency Enterprises,1995.0,0
8,35000000.0,Sudden Death,5.23158,1995-12-22,64350171.0,106.0,Released,Sudden Death,5.5,174.0,NaN,Action,Universal Pictures,1995.0,0
9,58000000.0,GoldenEye,14.686036,1995-11-16,352194034.0,130.0,Released,GoldenEye,6.6,1194.0,NaN,Adventure,United Artists,1995.0,0
10,62000000.0,The American President,6.318445,1995-11-17,107879496.0,106.0,Released,The American President,6.5,199.0,FALSE,Comedy,Columbia Pictures,1995.0,1
13,44000000.0,Nixon,5.092,1995-12-22,13681765.0,192.0,Released,Nixon,7.1,72.0,FALSE,History,Hollywood Pictures,1995.0,1
14,98000000.0,Cutthroat Island,7.284477,1995-12-22,10017322.0,119.0,Released,Cutthroat Island,5.7,137.0,NaN,Action,Le Studio Canal+,1995.0,0
15,52000000.0,Casino,10.137389,1995-11-22,116112375.0,178.0,Released,Casino,7.8,1343.0,FALSE,Drama,Universal Pictures,1995.0,1

In [18]:
winner = []
for row in movies_clean_df['winner']:
    if row == 'FALSE' :    winner.append('0')
    elif row == 'TRUE':   winner.append('1')
    else:           winner.append('0')
            
movies_clean_df['winner'] = winner
movies_clean_df['winner'] = movies_clean_df['winner'].astype(int)
movies_clean_df.head()

,budget,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,winner,genres,production_companies,release_year,nominated
0,30000000.0,Toy Story,21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,0,Animation,Pixar Animation Studios,1995.0,1
1,65000000.0,Jumanji,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,0,Adventure,TriStar Pictures,1995.0,0
3,16000000.0,Waiting to Exhale,3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,0,Comedy,Twentieth Century Fox Film Corporation,1995.0,0
5,60000000.0,Heat,17.924927,1995-12-15,187436818.0,170.0,Released,Heat,7.7,1886.0,0,Action,Regency Enterprises,1995.0,0
8,35000000.0,Sudden Death,5.23158,1995-12-22,64350171.0,106.0,Released,Sudden Death,5.5,174.0,0,Action,Universal Pictures,1995.0,0

In [19]:
# Changing Winner to binary
oscars_df = raw_oscars_df
        
oscars_df["winner"] = oscars_df["winner"].astype(int)
oscars_df.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,0
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,1
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,0
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,1
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,0

### Binning

In [20]:
# Binning Budget
movies_clean_df['budget'].describe()

# Cutting into bins
budget_bins = [0, 5.200000e+06, 4.000000e+07, 3.800000e+08]
pd.cut(movies_clean_df['budget'], budget_bins)
budget_names = ["Low", "Medium", "High"]

movies_clean_df["budget_ranges"] = pd.cut(movies_clean_df['budget'], 
                                                  budget_bins, labels=budget_names)
#Checking dataframe
movies_clean_df.head(15)

,budget,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,winner,genres,production_companies,release_year,nominated,budget_ranges
0,30000000.0,Toy Story,21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,0,Animation,Pixar Animation Studios,1995.0,1,Medium
1,65000000.0,Jumanji,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,0,Adventure,TriStar Pictures,1995.0,0,High
3,16000000.0,Waiting to Exhale,3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,0,Comedy,Twentieth Century Fox Film Corporation,1995.0,0,Medium
5,60000000.0,Heat,17.924927,1995-12-15,187436818.0,170.0,Released,Heat,7.7,1886.0,0,Action,Regency Enterprises,1995.0,0,High
8,35000000.0,Sudden Death,5.23158,1995-12-22,64350171.0,106.0,Released,Sudden Death,5.5,174.0,0,Action,Universal Pictures,1995.0,0,Medium
9,58000000.0,GoldenEye,14.686036,1995-11-16,352194034.0,130.0,Released,GoldenEye,6.6,1194.0,0,Adventure,United Artists,1995.0,0,High
10,62000000.0,The American President,6.318445,1995-11-17,107879496.0,106.0,Released,The American President,6.5,199.0,0,Comedy,Columbia Pictures,1995.0,1,High
13,44000000.0,Nixon,5.092,1995-12-22,13681765.0,192.0,Released,Nixon,7.1,72.0,0,History,Hollywood Pictures,1995.0,1,High
14,98000000.0,Cutthroat Island,7.284477,1995-12-22,10017322.0,119.0,Released,Cutthroat Island,5.7,137.0,0,Action,Le Studio Canal+,1995.0,0,High
15,52000000.0,Casino,10.137389,1995-11-22,116112375.0,178.0,Released,Casino,7.8,1343.0,0,Drama,Universal Pictures,1995.0,1,High
16,16500000.0,Sense and Sensibility,10.673167,1995-12-13,135000000.0,136.0,Released,Sense and Sensibility,7.2,364.0,0,Drama,Columbia Pictures Corporation,1995.0,1,Medium
17,4000000.0,Four Rooms,9.026586,1995-12-09,4300000.0,98.0,Released,Four Rooms,6.5,539.0,0,Crime,Miramax Films,1995.0,0,Low
18,30000000.0,Ace Ventura: When Nature Calls,8.205448,1995-11-10,212385533.0,90.0,Released,Ace Ventura: When Nature Calls,6.1,1128.0,0,Crime,O Entertainment,1995.0,0,Medium
19,60000000.0,Money Train,7.337906,1995-11-21,35431113.0,103.0,Released,Money Train,5.4,224.0,0,Action,Columbia Pictures,1995.0,0,High
20,30250000.0,Get Shorty,12.669608,1995-10-20,115101622.0,105.0,Released,Get Shorty,6.4,305.0,0,Comedy,Jersey Films,1995.0,0,Medium

In [21]:
# Binning Revenue
#movies_clean_df['revenue'].describe()

# Cutting into bins
revenue_bins = [0,  7.083172e+06, 1.000000e+08, 2.787965e+09]
pd.cut(movies_clean_df['revenue'], revenue_bins)
revenue_names = ["Low", "Medium", "High"]

movies_clean_df["revenue_ranges"] = pd.cut(movies_clean_df['revenue'], 
                                                  revenue_bins, labels=revenue_names)
#Checking dataframe
movies_clean_df.head(15)

,budget,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,winner,genres,production_companies,release_year,nominated,budget_ranges,revenue_ranges
0,30000000.0,Toy Story,21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,0,Animation,Pixar Animation Studios,1995.0,1,Medium,High
1,65000000.0,Jumanji,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,0,Adventure,TriStar Pictures,1995.0,0,High,High
3,16000000.0,Waiting to Exhale,3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,0,Comedy,Twentieth Century Fox Film Corporation,1995.0,0,Medium,Medium
5,60000000.0,Heat,17.924927,1995-12-15,187436818.0,170.0,Released,Heat,7.7,1886.0,0,Action,Regency Enterprises,1995.0,0,High,High
8,35000000.0,Sudden Death,5.23158,1995-12-22,64350171.0,106.0,Released,Sudden Death,5.5,174.0,0,Action,Universal Pictures,1995.0,0,Medium,Medium
9,58000000.0,GoldenEye,14.686036,1995-11-16,352194034.0,130.0,Released,GoldenEye,6.6,1194.0,0,Adventure,United Artists,1995.0,0,High,High
10,62000000.0,The American President,6.318445,1995-11-17,107879496.0,106.0,Released,The American President,6.5,199.0,0,Comedy,Columbia Pictures,1995.0,1,High,High
13,44000000.0,Nixon,5.092,1995-12-22,13681765.0,192.0,Released,Nixon,7.1,72.0,0,History,Hollywood Pictures,1995.0,1,High,Medium
14,98000000.0,Cutthroat Island,7.284477,1995-12-22,10017322.0,119.0,Released,Cutthroat Island,5.7,137.0,0,Action,Le Studio Canal+,1995.0,0,High,Medium
15,52000000.0,Casino,10.137389,1995-11-22,116112375.0,178.0,Released,Casino,7.8,1343.0,0,Drama,Universal Pictures,1995.0,1,High,High
16,16500000.0,Sense and Sensibility,10.673167,1995-12-13,135000000.0,136.0,Released,Sense and Sensibility,7.2,364.0,0,Drama,Columbia Pictures Corporation,1995.0,1,Medium,High
17,4000000.0,Four Rooms,9.026586,1995-12-09,4300000.0,98.0,Released,Four Rooms,6.5,539.0,0,Crime,Miramax Films,1995.0,0,Low,Low
18,30000000.0,Ace Ventura: When Nature Calls,8.205448,1995-11-10,212385533.0,90.0,Released,Ace Ventura: When Nature Calls,6.1,1128.0,0,Crime,O Entertainment,1995.0,0,Medium,High
19,60000000.0,Money Train,7.337906,1995-11-21,35431113.0,103.0,Released,Money Train,5.4,224.0,0,Action,Columbia Pictures,1995.0,0,High,Medium
20,30250000.0,Get Shorty,12.669608,1995-10-20,115101622.0,105.0,Released,Get Shorty,6.4,305.0,0,Comedy,Jersey Films,1995.0,0,Medium,High

In [22]:
# Binning Runtime
movies_clean_df['runtime'].describe()

# Cutting into bins
runtime_bins = [0, 95.000000, 120.000000, 338.000000]
pd.cut(movies_clean_df['runtime'], runtime_bins)

runtime_names = ["Low", "Medium", "High"]

movies_clean_df["runtime_ranges"] = pd.cut(movies_clean_df['runtime'], 
                                                  runtime_bins, labels=runtime_names)

#Checking dataframe
#movies_clean_df.head(15)

### Connecting the database to SQL

In [ ]:
# Allows user input for the Postgres pass, so it doesn't need to be stored in another file
dbpass = input("Type password: ")

In [24]:
# Connecting to 'Group6'
db_string = f"postgresql://postgres:{dbpass}@127.0.0.1:5432/Group6"
engine = create_engine(db_string)

# Also making sure here that if a pre-existing table with this name exists, it gets replaced
movies_clean_df.to_sql(name='Movies', con=engine, if_exists='replace')
raw_oscars_df.to_sql(name='Oscars', con=engine, if_exists='replace')