In [1]:
# Initial imports
import pandas as pd
import re
from sqlalchemy import create_engine

# Note: psycopg2 needs to be installed in the environment as well.

In [2]:
# Importing data and checking - Cleaned data
file_path = "Resources/movies_oscars.csv"
movies_clean_df = pd.read_csv(file_path,index_col=0)
movies_clean_df.head()

,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,winner,genres
budget,,,,,,,,,,,
30000000,Toy Story,21.946943,10/30/1995,373554033.0,81.0,Released,Toy Story,7.7,5415.0,FALSE,Animation
65000000,Jumanji,17.015539,12/15/1995,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,Adventure
0,Grumpier Old Men,11.7129,12/22/1995,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,NaN,Romance
16000000,Waiting to Exhale,3.859495,12/22/1995,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,Comedy
0,Father of the Bride Part II,8.387519,2/10/1995,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,NaN,Comedy

In [3]:
# Importing data and checking - Original Movies data
file_path2 = "Resources/movies_metadata.csv"
raw_movies_df = pd.read_csv(file_path2,index_col=0)
raw_movies_df.head()

C:\Users\16074\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
adult,,,,,,,,,,,,,,,,,,,,,
False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
# Importing data and checking - Oscars data
file_path3 = "Resources/the_oscar_award.csv"
raw_oscars_df = pd.read_csv(file_path3,index_col=0)
raw_oscars_df.head()

,year_ceremony,ceremony,category,name,film,winner
year_film,,,,,,
1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

In [ ]:
# Adding production_companies to cleaned CSV

movies_clean_df['production_companies'] = raw_movies_df['production_companies'].values
movies_clean_df.head()

In [ ]:
#Regex Parsing of production_companies

movies_clean_df["production_companies"] = movies_clean_df["production_companies"].str.extract(r"(?!'name') (?!'id')'(.*?)'")
movies_clean_df.head()

In [ ]:
#Regex Parsing of genres

movies_clean_df["genres"] = movies_clean_df["genres"].str.extract(r"^([\w\-]+)")
movies_clean_df.head()

In [ ]:
# Connecting the database

# Allows user input for the Postgres pass, so it doesn't need to be stored in another file
dbpass = input("Type password: ")

In [ ]:
db_string = f"postgresql://postgres:{dbpass}@127.0.0.1:5432/Group6"
engine = create_engine(db_string)

movies_clean_df.to_sql(name='Movies', con=engine)
raw_oscars_df.to_sql(name='Oscars', con=engine)